#div1,
#div2 {
  background: #eee;
  border-radius: 0.2em;
  font-size: 2rem;
  padding: 0.5rem;
  position: absolute;
  top: 10%;
  height: auto;
  width: 25%;
}

#div1 {
  left: 20%;
}

#div2 {
  right: 20%;
}
