#driving {
  height: var(--lv-canvas-height);
  position: absolute;
  left: 14%;
}

#road {
  fill: none;
  stroke: #aaa;
  stroke-width: 10;
}

#lines {
  fill: none;
  stroke: #fff;
  stroke-width: 0.5;
  stroke-dasharray: 3 2;
}
