.draggable {
  cursor: grab;
  cursor: -webkit-grab;
}

body.dragging .lv-canvas,
body.dragging .draggable,
.dragging {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

#jet {
  position: absolute;
  width: 25%;
}
